/* navbar section */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}
.heading{
    margin: 0;
    font-family: "Azeret Mono", monospace;
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}
.link{
    text-decoration: none;
    font-family: "Azeret Mono", monospace;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

/* about section */
.useing-bg-img{
    background-image: url('./img/Hero-bg.png');
    height: 650px;
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
 
.cover{
    margin: auto;
    width: 998px;
    height: 581px;
}
.about-common-center{
    text-align: center;
}

.about-img{
    padding-top: 30px;
}
.about-title h2{
    display: inline-block;
    font-family: "Azeret Mono", monospace;
    font-size: 48px;
    font-weight: 800;
  
}
.about-dct p{
    margin: auto;
    font-family: "Azeret Mono", monospace;
    width: 700px;
    font-size: 16px;
    font-weight: 400;
}

.about-btn{
    border-radius: 8px;
    color: #fff;
    background: rgb(13, 19, 33);
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 20px;
}

/* Web Development */
.web-title{
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}
.web-p{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 900px;
    margin: auto;
}
.web-section{
    margin: 50px 0px;
}
.card-1{

    display: flex;
    margin:50px auto;
    width: 900px;
    justify-content: space-between;
    font-family: "Azeret Mono", monospace;
}
.card-left-site{
  
}
.card-title{
    font-family: "Azeret Mono", monospace;
    width: 60%;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.card-p{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.card-btn{
    font-family: "Azeret Mono", monospace;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 20px;
}
.card-2-title{
    font-family: "Azeret Mono", monospace;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
/* Current Target */

/* footer section */
.footer-section{
    display: flex;
    width: 900px;
    margin: auto;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    font-family: "Azeret Mono", monospace;
}