/* navbar section */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}
.heading{
    margin: 0;
    font-family: "Azeret Mono", monospace;
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}
.link{
    text-decoration: none;
    font-family: "Azeret Mono", monospace;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

/* about section */
.useing-bg-img{
    background-image: url('./img/Hero-bg.png');
    height: 650px;
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
 
.cover{
    margin: auto;
    width: 1100px;
    height: 581px;
}
.about-common-center{
    text-align: center;
}

.about-img{
    padding-top: 30px;
}
.about-title h2{
    display: inline-block;
    font-family: "Azeret Mono", monospace;
    font-size: 48px;
    font-weight: 800;
  
}
.about-dct p{
    margin: auto;
    font-family: "Azeret Mono", monospace;
    width: 800px;
    font-size: 16px;
    font-weight: 400;
}

.about-btn{
    border-radius: 8px;
    color: #fff;
    background: rgb(13, 19, 33);
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 20px;
}

/* Web Development */
.web-title{
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}
.web-p{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 900px;
    margin: auto;
}
.web-section{
    margin: 50px 0px;
}
.card-1{
    
    display: flex;
    margin:100px auto;
    width: 1000px;
    justify-content: space-between;
    font-family: "Azeret Mono", monospace;
}
.card-left-site{
  padding-right: 100px;
}
.card-title{
    font-family: "Azeret Mono", monospace;
    width: 60%;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.card-p{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.card-btn{
    font-family: "Azeret Mono", monospace;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 20px;
}
.card-2-title{
    font-family: "Azeret Mono", monospace;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
/* Inspiration */
.Inspiration-title{
    font-size: 32px;
font-weight: 800;
line-height: 37px;
font-family: "Azeret Mono", monospace;
text-align: center;
}
.Inspiration-p{
    margin: auto;
    width: 800px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    font-family: "Azeret Mono", monospace;
}



/* Current Target */
.Current-Target{

    width: 1100px;
    margin:150px auto;
}
.current-targer{
    text-align: center;
}
.current-targer h2{
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.current-targer p{
    width: 800px;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: "Azeret Mono", monospace;
}
.card-cu-section{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 50px 0px;
}
.card-cu-1{
padding: 20px;
}
.card-cu-1 h3{
    font-family: "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: 800;
}
.card-cu-1 p{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
font-weight: 400;
padding: 0px;
}
.card-cu-1 a{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
font-weight: 700;
}

/* Next Target */
.next-target-title{
    text-align: center;
    font-size: 32px;
font-weight: 800;
line-height: 37px;
font-family: "Azeret Mono", monospace;
}
.next-target-title-p{
    width: 900px;
    margin: auto;
    text-align: center;
    font-size: 16px;
font-weight: 400;
line-height: 26px;
font-family: "Azeret Mono", monospace;
}

.next-target-section{
width: 1100px;
margin:40px auto;
}
.next-target-card{
    margin: 30px 0px;
    display: flex;
    border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 30px;
}
.next-target-card img{
    margin-right: 30px;
}
.next-card-about h2{
    font-size: 24px;
font-weight: 800;
line-height: 36px;
font-family: "Azeret Mono", monospace;
}
.next-card-about p{
    font-size: 16px;
font-weight: 400;
line-height: 26px;
font-family: "Azeret Mono", monospace;
}
.next-card-about a{
    font-size: 16px;
font-weight: 700;
line-height: 19px;
font-family: "Azeret Mono", monospace;
}
/* footer section */
.footer-section{
    display: flex;
    width: 1100px;
    margin: auto;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    font-family: "Azeret Mono", monospace;
}